extends index

block body
  if user && user._id.equals( currentPoll.user._id )
    div( class = 'body-actions' )
      a( href = `/polls/${ currentPoll._id }/edit` )
        i( class = 'far fa-edit' )
      a( href = `/polls/${ currentPoll._id }/delete`, class = 'btn-delete' )
        i( class = 'far fa-trash-alt' )
      a( href = `https://twitter.com/intent/tweet?text=mira%20esta%20encuesta! ` + currentPath, class = 'twitter-share-button')
        i( class = 'fab fa-twitter pr-1' )
      a( href = `https://www.facebook.com/sharer/sharer.php` + currentPath, class = 'fb-share-button' )
        i( class = 'fab fa-facebook' )

  div( class = 'poll-form-page')
    div( class = 'body-content' )
      h1( class = 'body-question' )= currentPoll.question
      div( class = 'body-description' ) !{ currentPoll.description || '' }
      div( class = 'body-description' ) Creado por #{ currentPoll.user.email }

    each option in currentPoll.options
      div( class = 'body-content' )
        label( for = `option-${ option._id }` )= option.text
          p #{ option.votes }  Votos
          - let count = Math.round(( option.votes / currentPoll.totalVotes() ) * 100 );
          div( style = { background: 'gray', width: count + '%', height: '2em' })
            if count > 0
              span= count + '%'
            else
              span= 0 + '%'

  script.
    var btnDelete = document.querySelector( '.btn-delete' );
    btnDelete.addEventListener( 'click', function( e ) {
      e.preventDefault();
        if ( confirm( 'Está seguro de borrar la encuesta?' )) {
          fetch( '/polls/#{ currentPoll._id }', {
            method: 'DELETE'
          }).then( response => {
            window.location = '/';
          });
        }
    });

  div( id = 'fb-root' )
    script.
      (function( d, s, id ) {
        var js, fjs = d.getElementsByTagName( s )[0];
        if ( d.getElementById( id )) return;
        js = d.createElement( s ); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore( js, fjs );
      }( document, 'script', 'facebook-jssdk' ));
